@font-face {
    font-family: 'Cookie Dough';
    src: url(../font/Cookie\ Dough.otf);
}

@font-face {
    font-family: 'Honey Cookies';
    src: url(../font/Honey\ Cookies.ttf);
}




$creamColor: #ffe5a2;
$bg-blue: #243763;
$bg-orange: #ff6e31;
$a-color: #ffe5a5;
$bg-orange: #e8652e;
$title-color: #ffebb7;
$titleh1: #456b01;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "PT Serif", sans-serif;
    background-image: url(../img/fond1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.row-limit-size {
    max-width: 1400px;
    width: 100%;

    margin: 0 auto;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: "Honey Cookies";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $titleh1;
}











/**********header**********/

#header-gros-bidon {
    max-width: 1400px;
    width: 100%;
    display: flex;

    margin: 0 auto;



    &>#container-header {

        &>#banniere {
            width: 100%;
            display: flex;
            justify-content: center;



            &> :nth-child(1),
            :nth-child(3) {
                width: 300px;
                height: 200px;

            }

            &>#logo-header {
                width: 700px;
                height: 250px;

                &>img {
                    width: 700px;
                    height: 250px;
                    position: absolute;

                }

                &>h1 {
                    width: 500px;
                    position: relative;
                    top: 0;
                    left: 0;
                    transform: translate(100px, 150px);

                }
            }
        }

        &>#general-navigation {
            max-width: 700px;
            width: 100%;
            display: flex;
            margin: 0 auto;
            flex-direction: row;
            justify-content: space-between;
        }

        &>#nav-principal {
            max-width: 700px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0 auto;
            background-color: $creamColor ;

        }
    }


}