@charset "UTF-8";
@font-face {
  font-family: "Cookie Dough";
  src: url(../font/Cookie\ Dough.otf);
}
@font-face {
  font-family: "Honey Cookies";
  src: url(../font/Honey\ Cookies.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", sans-serif;
  background-image: url(../img/fond1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.row-limit-size {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Honey Cookies";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #456b01;
}

/**********header**********/
#header-gros-bidon {
  max-width: 1400px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
#header-gros-bidon > #container-header > #banniere {
  width: 100%;
  display: flex;
  justify-content: center;
}
#header-gros-bidon > #container-header > #banniere > :nth-child(1),
#header-gros-bidon > #container-header > #banniere :nth-child(3) {
  width: 300px;
  height: 200px;
}
#header-gros-bidon > #container-header > #banniere > #logo-header {
  width: 700px;
  height: 250px;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > img {
  width: 700px;
  height: 250px;
  position: absolute;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > h1 {
  width: 500px;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(100px, 130px);
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation {
  max-width: 700px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation > #formulaire-search-bar {
  width: 300px;
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation > #formulaire-search-bar > #searchbar {
  width: 300px;
  height: 30px;
  border-radius: 150px;
  border: 0;
  padding-left: 10px;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation > #formulaire-search-bar > #search-button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #456b01;
  border: 0;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation > #formulaire-search-bar > #search-button > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #456b01;
  border-radius: 100%;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation > #icones-menus-usercompte > #menu-icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-right: 10px;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation > #icones-menus-usercompte > #account {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
#header-gros-bidon > #container-header > #nav-principal {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  background-color: #ffe5a2;
}
#header-gros-bidon > #container-header > .hidden {
  visibility: hidden;
}

/**************** slider de presentation des dernier recipe ajouter par l'admin **********************/
#news {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 25px auto;
}
#news > .carousel {
  width: 300px;
  overflow: hidden;
  display: flex;
  border-radius: 50px;
}
#news > .carousel > .carousel-content {
  display: flex;
  width: 100%;
  /* Modifier la largeur en fonction du nombre d'items */
  transition: transform 2s linear;
  /* Modifier la durée de transition en 20 secondes */
  animation: scroll 200s infinite;
  /* Modifier la durée de l'animation en 20 secondes */
}
#news > .carousel > .carousel-content > .carouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#news > .carousel > .carousel-content > .carouselItem > img {
  width: 300px;
  height: 200px;
}
#news > .carousel > .carousel-content > .carouselItem > p {
  width: 300px;
  height: 100px;
  text-align: center;
  background-color: #f9cda6;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  16.66% {
    transform: translateX(-100%);
  }
  33.33% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-300%);
  }
  66.66% {
    transform: translateX(-400%);
  }
  83.33% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
}
#news > #newsletter {
  width: 300px;
  background-color: black;
  border-radius: 100%;
}
#news > #newsletter > img {
  width: 300px;
  height: 200px;
  border-radius: 150px 150px 0 0;
}
#news > #newsletter > #para {
  width: 300px;
  height: 100px;
  border-radius: 0 0 150px 150px;
  background-color: #f9cda6;
}
#news > #newsletter > #para > p {
  width: 300px;
  text-align: center;
  padding-top: 10px;
}

/**************partie mon compte***************/
/*****formulaire d'inscription*****/
#acces-mon-compte {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#acces-mon-compte > form {
  max-width: 500px;
  width: 50%;
  background-color: #456b01;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 2px 2px 10px #666;
  color: red;
}/*# sourceMappingURL=style.css.map */