@font-face {
  font-family: "Cookie Dough";
  src: url(../font/Cookie\ Dough.otf);
}
@font-face {
  font-family: "Honey Cookies";
  src: url(../font/Honey\ Cookies.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", sans-serif;
  background-image: url(../img/fond1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.row-limit-size {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Honey Cookies";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #456b01;
}

/**********header**********/
#header-gros-bidon {
  max-width: 1400px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
#header-gros-bidon > #container-header > #banniere {
  width: 100%;
  display: flex;
  justify-content: center;
}
#header-gros-bidon > #container-header > #banniere > :nth-child(1),
#header-gros-bidon > #container-header > #banniere :nth-child(3) {
  width: 300px;
  height: 200px;
}
#header-gros-bidon > #container-header > #banniere > #logo-header {
  width: 700px;
  height: 250px;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > img {
  width: 700px;
  height: 250px;
  position: absolute;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > h1 {
  width: 500px;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(100px, 130px);
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation {
  max-width: 700px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation > #formulaire-search-bar {
  width: 300px;
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-evenly;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation > #formulaire-search-bar > #searchbar {
  width: 300px;
  height: 60px;
  border-radius: 150px;
  border: 0;
  padding-left: 10px;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation > #formulaire-search-bar > #search-button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation > #formulaire-search-bar > #search-button > img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation > #icones-menus-usercompte > #menu-icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-right: 10px;
}
#header-gros-bidon > #container-header > #banniere > #logo-header > #general-navigation > #icones-menus-usercompte > #account {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
#header-gros-bidon > #container-header > #nav-principal {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  background-color: #ffe5a2;
}
#header-gros-bidon > #container-header > .hidden {
  visibility: hidden;
}

/**************partie mon compte***************/
/*****formulaire d'inscription*****/
#acces-mon-compte {
  width: 100%;
  display: flex;
}
#acces-mon-compte > form {
  max-width: 500px;
  width: 100%;
  background-color: #456b01;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 2px 2px 10px #666;
}/*# sourceMappingURL=style.css.map */