{% extends "TemplateIndex.html.twig" %}

{% block content %}
<body>
    <section id="access-mon-compte" class="row-limit-size">
    <form action="" method="POST">
        <fieldset>
            <legend>Inscription</legend>
            <div>
                <label for="pseudo">Pseudonyme</label>
                <input type="text" name="pseudo" id="pseudo">
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <label for="mail">Votre mail</label>
                <input type="E-mail" name="mail" id="mail">
            </div>
            <div>
                <label for="birthdate">date de naissance</label>
                <input type="date" name="biethdate" id="birthdate">
            </div>
       
            
            <input type="submit" name="submit" value="inscription">
        </fieldset>
    </form>
{% endblock %}

{% block content %}
    <?php
    if (!isset($_SESSION['session'])) {
    ?>



        <form action="" method="POST">
            <fieldset>
                <legend>Connexion</legend>
                <div>
                    <label for="pseudo">Pseudonyme</label>
                    <input type="text" name="pseudo" id="pseudo">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
            
                
                <input type="submit" name="submit" value="se connecter">
            </fieldset>
        </form>
    <?php  } ?>
    </section>
    {% endblock %}
</body>
</html>