



{% block title %}{% endblock %}




{% block content %}

<header id="header-gros-bidon">

        <div id="container-header" class="row-limit-size"> 

          <div id="banniere">

            <img src="./assets/img/aTable.png" title="patatable">

            <div id="logo-header">
              <img src="./assets/img/logoHeader.jpg">
              <h1> GrosBidon</h1>

              
          <div id="general-navigation">

            <form id="formulaire-search-bar" method="POST" >

              <input id="searchbar" type="search" name="searchbar" placeholder="entrez votre recherche içi">
              <button id="search-button" type="submit"  name="search-button" value=""> <img src="./assets/img/loupe.svg" alt="Rechercher"></button>

            </form>

            <div id="icones-menus-usercompte">

            <img id="menu-icon" src="./assets/img/menuBurger.png" alt="logo du menu burger" title="menu">
            <img id="account" src="./assets/img/userIcone.png" alt="logo du menu user" title="mon Compte">

            </div>
  
          </div>
            </div>

            <img src="./assets/img/PatateCrue.png" title="patatable">

          </div>
        

          
          <nav id="nav-principal" class="hidden" >
            <div class="container-menu">
                <h2>Catégories</h2>
                <ul>
                <li><a>amuses-bouches</a></li>
                <li><a>entrées</a></li>
                <li><a>plats</a></li>
                <li><a>desserts</a></li>
                </ul>
            </div>
            <div class="container-menu">
                <h2>Genres</h2>
                <ul>
                <li><a>Boeuf</a></li>
                <li><a>Porc</a></li>
                <li><a>Volailles</a></li>
                <li><a>Poissons</a></li>
                <li><a>Végétarien</a></li>
                </ul>
            </div>
            <div class="container-menu">
                <h2>Evenements</h2>
                <ul>
                <li><a>Baptême</a></li>
                <li><a>Mariage</a></li>
                <li><a>Noël</a></li>
                <li><a>Nouvel An</a></li>
                </ul>
            </div>
          </nav>
        </div>
      </header>

      {% endblock %}