

{% extends "TemplateIndex.html.twig" %}


{% block title %}Bienvenue sur la page{% endblock %}



{% block content %}
    
    <div class="carousel">
		<h2>Nouveautées</h2>
		<div class="carouselItem">
			<img src="./assets/img/amuseBouche.jpg">
            <p>Que serait un apéro sans ses amuse bouche ?
Découvrez nos dernière recettes simple rapide et pas chere qui feront le plaisir de tous
</p>
		</div>

        <div class="carouselItem">
			<img src="./assets/img/saucisseMaison.jpg">
            <p>Le beau temps reviens et qui dit soleil dit BBQ . Venez tester notre recettes de saucisse a griller 100% valider par nos expert.</p>
		</div>

        <div class="carouselItem">
			<img src="./assets/img/BrochetteDePatate.jpg">
            <p>Hey mon ami tu n’aimes ça les grosse peutates ? Alors prend ton barbecue cette recette est faite pour toi !!</p>
		</div>

        <div class="carouselItem">
			<img src="./assets/img/wings.jpg">
            <p>Elles font le bonheur des parents mais aussi des enfants .Les wings reviennent en force et en saveur</p>
		</div>

        <div class="carouselItem">
			<img src="./assets/img/burger.jpg">
            <p>Les inconditionelles l’adore et il est de retour .Le celèbre Burger de Nono fait son grand retour dans une recettes savoureue</p>
		</div>

        <div class="carouselItem">
			<img src="./assets/img/moulesFrite.jpg">
            <p>La Bretagne à porté de bouche .Les moules de buchot les seules et unique dans une recettes revisitée facon bigoudene</p>
		</div>
			
	</div>


{% endblock %}


        