{% block title %}mon compte est bon{% endblock %}

{% block content %}
    <h2> bienvenue sur votre compte</h2>

    <p>ici vous pourrez ajouter vos propres recettes acceder a vos recette favorites consulté votre menus sur mesure  modifiez vos données personnel et pourquoi pas si vous etes sage et assidus arborer fierement vos badges. </p>


{% endblock %}